.dropdown {
	position: relative;
}

.dropdown-toggle {
	cursor: pointer;
}

.dropdown-menu {
	display: none;
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
	min-width: 10rem;
	padding: 0.5rem 0;
	margin: 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid white;
	border-radius: 0.25rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
	display: block;
}

#cartDisplayer {
	scrollbar-width: thin; 
	scrollbar-color: rgb(15 23 42) white;
	margin-block: 10px;
}